*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: sans-serif;
    outline: none;
}
.container{
    height:70vh;
    display:flex;
    position: absolute;
    bottom: 150px;
    left: 39%;
}
.calculator{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px white,
                      5px 5px 12px black;
    display: grid;
    grid-template-columns: repeat(4,65px);
}
input{
    grid-column: span 4;
    height: 58px;
    width: 255px;
    background-color: white;
    box-shadow: inset -5px -5px 12px white,
                inset 5px 5px 12px black;
    border: none;
    border-radius: 40px;
    color: rgb(56, 54, 54);
    font-size: 40px;
    text-align: end;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
button{
    height: 45px;
    width: 45px;
    background-color: white;
    box-shadow:-5px -5px 12px white,
                 5px 5px 12px black;
    border: none;
    border-radius: 50%;
    margin: 2px;
    font-size: 16px;
}
.equal{
    border-radius: 20px;
    width: 112px;
    background-color:rgb(164, 197, 190);
}
.e{
    background-color: rgb(164, 197, 190);
}
